.form-control {
    background-color: var(--color-light);
    padding: 0.65rem 0.75rem 0.65rem 2.5rem !important;
}

.input-icon {
    position: relative;
}

.input-icon i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.input-icon input {
    padding-left: 12px !important;
}

.btn-light {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    background-color: var(--color-light-tint) !important;
    border-color: var(--color-light) !important;
    color: var(--color-light-contrast) !important;
    transition: 0.5s ease all;
}