p {
    font-size: 0.9rem;
}

.card {
    outline: 2px solid var(--surface-d) !important;
    cursor: pointer;
}

.float {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.section-close {
    position: relative;
    top: -10px;
    z-index: 2;
}

.view-active {
    outline: 2px solid var(--color-primary) !important;
}

.fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}