<nav class="navbar navbar-expand-lg bg-body-tertiary bg-mdw w-100" style="position: fixed; height: 55px; z-index: 2;">
    <div class="flex-container justify-content-between w-100">
        <div class="flex-items ms-2">
            <button class="btn btn-icon btn-light bg-transparent border-0" type="button">
                <i class="fa-solid fa-bars text-medium"></i>
            </button>
        </div>
        <div class="flex-items">
            <img src="assets/images/logos/ternium-square.png" class="logo" alt="Ternium Logo">
        </div>
        <div class="flex-items me-4">
            <section>
                <i class="fa-solid fa-bell text-medium"></i>
                <i class="fa-solid fa-table-cells text-medium mx-3"></i>
                <i class="fa-solid fa-house text-medium"></i>
            </section>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-mdw w-100" style="position: fixed; height: 30px; z-index: 2; margin-top: 55px;">
    <div class="flex-container justify-content-between w-100">
        <div class="flex-items ms-4">
            <i class="fa-regular fa-window-maximize text-medium"></i>
        </div>
        <div class="flex-items">
            <span class="text-small">Flash Comercial</span>
        </div>
        <div class="flex-items me-4">
            <section>
                <i class="fa-solid fa-rotate-right text-medium me-3"></i>
                <i class="fa-solid fa-xmark text-medium"></i>
            </section>
        </div>
    </div>
</nav>
