<div class="modal fade" id="modalVoice" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 m-4">
            <div class="modal-body border-0 text-center p-4">
                <section class="my-5">
                    <div class="circle m-auto rounded-pill">
                        <i class="fa-solid fa-microphone text-primary" style="font-size: 2rem !important;"></i>
                    </div>
                </section>

                <h6>
                    Búsqueda de Operaciones por Voz
                </h6>
                <p>
                    Optimiza tu eficiencia con nuestra avanzada funcionalidad de búsqueda por voz.
                </p>

                <section class="mt-5 mb-4">
                    <button type="button" class="btn btn-primary w-100 mb-4">Comenzar Búsqueda</button>
                    <button type="button" class="btn btn-outline-primary w-100" data-bs-dismiss="modal">Cancelar</button>
                </section>
            </div>
        </div>
    </div>
</div>