.custom-tabs {
    display: flex;
    background-color: var(--color-light);
    border-radius: 25px;
    overflow: hidden;
    padding: 5px;
}

a {
    font-size: 0.9rem !important;
}

.custom-tabs .nav-item {
    text-align: center;
    width: 33.33%;
    cursor: pointer;
}

.nav-link {
    width: 100%;
}

.custom-tabs .nav-link {
    color: var(--color-medium) !important;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.custom-tabs .nav-link.active {
    background-color: var(--color-primary) !important;
    /* Color del botón activo */
    color: var(--color-danger-contrast) !important;
    border-radius: 20px;
}

.custom-tabs .nav-link:hover {
    background-color: var(--color-primary) !important;
    color: var(--color-danger-contrast) !important;
    border-radius: 25px;
}