/* Setting for theme CodeMono */
$font-primary: 'Poppins';
$font-secondary: sans-serif;
$font-paragraphs: 'Poppins';
$font-size: 14px !important;
$font-weight: 500;
$margin: 0;
$border: none;
$border-radius: 1rem;
$transition: 0.5s ease all;
