<div class="bg-secondary">
    <section class="mt-4">
        <div class="row text-start d-flex align-items-center">
            <div class="col-4">
                <small class="text-light">Tus puntos</small>
                <div class="flex-container text-start">
                    <div class="flex-items me-2">
                        <div class="circle bg-yellow">
                            <i class="fa-solid fa-bitcoin-sign text-light" style="font-size: 1rem !important;"></i>
                        </div>
                    </div>
                    <div class="flex-items">
                        <span class="fw-bold text-light">11.240</span>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <small class="text-light">Tu ranking</small>
                <div class="flex-container text-start">
                    <div class="flex-items me-2">
                        <div class="circle bg-tertiary">
                            <i class="fa-solid fa-trophy text-light" style="font-size: 1rem !important;"></i>
                        </div>
                    </div>
                    <div class="flex-items">
                        <span class="fw-bold text-light">#12</span>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <section class="d-flex align-items-center justify-content-center bg-card-game" #refAnimeTop>
                    <img src="./../../../../assets/images/illustrations/player.svg" alt="Player" style="height: 100%; width: 100%;">
                </section>
            </div>
    

        </div>
    </section>
</div>