<div class="container">
    <div class="row">
        <div class="col-12">
          <app-searchbar/>
        </div>

        <div class="col-12 order-0 order-md-0 mb-4">
            <h6 class="fw-bold">Tus 4 operaciones más visitadas</h6>

            <app-list-top-view/>
        </div>

        <div class="col-12 mb-4">
            <div class="card bg-secondary">
                <div class="card-body">
                    <p-accordion [multiple]="true" [activeIndex]="[0]" styleClass="custom-accordion">
                        <p-accordionTab>
                            <ng-template pTemplate="header">
                               <div class="flex-container">
                                 <div class="flex-items me-4">
                                    <span class="fw-bold text-light">
                                        ¡Hola Oscar Medina!
                                    </span>
                                 </div>
                                 <div class="flex-items">
                                    <div class="flex-container">
                                        <a href="#" class="text-light" style="font-weight: 400;">
                                            Ir al juego
                                        </a>
                                    </div>
                                 </div>
                               </div>
                            </ng-template>
                          <app-gamecard/>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <p-accordion [multiple]="true" [activeIndex]="[0]">
                        <p-accordionTab header="Listado de Procesos">
                            <div class="scroll-container">
                                <app-list-process-view></app-list-process-view>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <p-accordion [multiple]="true" [activeIndex]="[0]">
                        <p-accordionTab header="Recomendados">
                            <div class="scroll-container">
                                <app-list-recommended-view />
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                </div>
            </div>
        </div>
    </div>
</div>