@for(item of processList; track item.name) {

<section class="mb-3" #refAnime>
    <div class="flex-container justify-content-between" (click)="showDetail()">
        <div class="flex-items me-3">
            <div class="flex-container">
                <div class="flex-items me-3">
                    <div class="circle">
                        <i [class]="item.icon"></i>
                    </div>
                </div>
                <div class="flex-items">
                    <div class="flex-items">
                        <h6 class="card-title mb-0">{{item.name}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-items">
            <button type="button" class="btn btn-action btn-icon" (click)="showDetail()">
                <i class="fa-solid fa-angle-right text-primary"></i>
            </button>
        </div>
    </div>
</section>
<div class="border-bottom mb-3"></div>

}